.explore_button{
    font-size: 14px;
    letter-spacing: 1.5px;
    border: transparent;
    padding: 15px 15px 15px 15px;
    border-radius: 50px;
    background:linear-gradient(175deg, $color-secondary, $color-primary);
    color: $color-white;
    width: 220px;
    display: flex;
    justify-content: center;
    align-self: center;
}