$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-white: #fff;
$color-lightgray: #f9f9f9;
$color-black: black;
$color-gray: #c6c6c6;

$color-linear: linear-gradient(175deg, $color-secondary, $color-primary);
$color-light-primary: lighten($color-primary, 20%);
$color-light-secondary: lighten($color-secondary, 20%);
$color-light-linear: linear-gradient(175deg, $color-light-secondary, $color-light-primary);

$breakpoints: (mobile: 356px, tablet_min: 764px, tablet_max: 1108px, desktop: 1109px, desktop_lg: 1280px, desktop_xlg: 1500px);