.fade {
  position: relative;
  animation-name: fade;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  25% {
    opacity: .25;
  }
  90% {
    opacity: .50;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-1 {
  position: relative;
  animation-name: fade-1;
  animation-duration: 2.5s;
}

@keyframes fade-1 {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  25% {
    opacity: .25;
  }
  90% {
    opacity: .50;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-2 {
  position: relative;
  animation-name: fade-2;
  animation-duration: 3s;
}

@keyframes fade-2 {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  25% {
    opacity: .25;
  }
  90% {
    opacity: .50;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}