.fade {
  position: relative;
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: .25s;
          animation-duration: .25s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

@-webkit-keyframes fade {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.fade-1 {
  position: relative;
  -webkit-animation-name: fade-1;
          animation-name: fade-1;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

@-webkit-keyframes fade-1 {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-1 {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.fade-2 {
  position: relative;
  -webkit-animation-name: fade-2;
          animation-name: fade-2;
  -webkit-animation-duration: .640s;
          animation-duration: .640s;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

@-webkit-keyframes fade-2 {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-2 {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.fade-3 {
  position: relative;
  -webkit-animation-name: fade-3;
          animation-name: fade-3;
  -webkit-animation-duration: .828s;
          animation-duration: .828s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

@-webkit-keyframes fade-3 {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-3 {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.fade-4 {
  position: relative;
  -webkit-animation-name: fade-4;
          animation-name: fade-4;
  -webkit-animation-duration: 1.01s;
          animation-duration: 1.01s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

@-webkit-keyframes fade-4 {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-4 {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.fade-5 {
  position: relative;
  -webkit-animation-name: fade-5;
          animation-name: fade-5;
  -webkit-animation-duration: 1.165s;
          animation-duration: 1.165s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

@-webkit-keyframes fade-5 {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-5 {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.fade-6 {
  position: relative;
  -webkit-animation-name: fade-6;
          animation-name: fade-6;
  -webkit-animation-duration: 1.29s;
          animation-duration: 1.29s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

@-webkit-keyframes fade-6 {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-6 {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.fade-7 {
  position: relative;
  -webkit-animation-name: fade-7;
          animation-name: fade-7;
  -webkit-animation-duration: 1.43s;
          animation-duration: 1.43s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

@-webkit-keyframes fade-7 {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-7 {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.fade-8 {
  position: relative;
  -webkit-animation-name: fade-8;
          animation-name: fade-8;
  -webkit-animation-duration: 1.57s;
          animation-duration: 1.57s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

@-webkit-keyframes fade-8 {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-8 {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.fade-9 {
  position: relative;
  -webkit-animation-name: fade-9;
          animation-name: fade-9;
  -webkit-animation-duration: 1.73s;
          animation-duration: 1.73s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

@-webkit-keyframes fade-9 {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-9 {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.fade-10 {
  position: relative;
  -webkit-animation-name: fade-10;
          animation-name: fade-10;
  -webkit-animation-duration: 1.924s;
          animation-duration: 1.924s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

@-webkit-keyframes fade-10 {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-10 {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.fade-11 {
  position: relative;
  -webkit-animation-name: fade-11;
          animation-name: fade-11;
  -webkit-animation-duration: 2.148s;
          animation-duration: 2.148s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

@-webkit-keyframes fade-11 {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-11 {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.explore_button {
  font-size: 14px;
  letter-spacing: 1.5px;
  border: transparent;
  padding: 15px 15px 15px 15px;
  border-radius: 50px;
  background: linear-gradient(175deg, #ff79da, #9356dc);
  color: #fff;
  width: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: 10px;
  -webkit-box-shadow: 3px 3px 3px #c6c6c6;
          box-shadow: 3px 3px 3px #c6c6c6;
}

.explore_button:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  background: linear-gradient(175deg, #ffdff6, #c9abee);
  -webkit-box-shadow: 10px 5px 5px #c6c6c6;
          box-shadow: 10px 5px 5px #c6c6c6;
}

.order_button {
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  letter-spacing: 1.5px;
  border: transparent;
  padding: 15px 15px 15px 15px;
  border-radius: 50px;
  background: linear-gradient(175deg, #ff79da, #9356dc);
  color: #fff;
  width: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: 5%;
  -webkit-box-shadow: 3px 3px 3px #c6c6c6;
          box-shadow: 3px 3px 3px #c6c6c6;
  opacity: 0;
  position: relative;
  -webkit-animation-name: order;
          animation-name: order;
  -webkit-animation-delay: 1.671s;
          animation-delay: 1.671s;
  -webkit-animation-duration: 1.107s;
          animation-duration: 1.107s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

.order_button:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  background: linear-gradient(175deg, #ffdff6, #c9abee);
  -webkit-box-shadow: 10px 5px 5px #c6c6c6;
          box-shadow: 10px 5px 5px #c6c6c6;
}

@media all and (min-width: 764px) and (max-width: 1108px) {
  .order_button .order_button {
    margin-top: 5%;
  }
}

@-webkit-keyframes order {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes order {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  display: block;
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  height: 100%;
  overflow-x: hidden;
}

.loading_page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(175deg, #ffdff6, #c9abee);
  -webkit-animation-name: loading;
          animation-name: loading;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  position: fixed;
  top: 0%;
  left: 0%;
  opacity: 1;
}

.loading_page img {
  width: 43%;
  opacity: 1;
  -webkit-animation-name: loading;
          animation-name: loading;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

@-webkit-keyframes loading {
  0% {
    opacity: 1;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes loading {
  0% {
    opacity: 1;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.loader {
  position: absolute;
  bottom: 20%;
  border: 16px transparent #c9abee;
  border-top: 16px solid #99e2d0;
  border-bottom: 16px solid #99e2d0;
  border-radius: 50%;
  width: 400px;
  height: 400px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

@media all and (min-width: 764px) and (max-width: 1108px) {
  .loader {
    bottom: 15%;
    width: 700px;
    height: 700px;
  }
}

@media all and (min-width: 1109px) {
  .loader {
    bottom: 5%;
    width: 860px;
    height: 860px;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    visibility: hidden;
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    visibility: hidden;
  }
}

#homepage {
  -webkit-animation: homepage_fade 4s linear;
          animation: homepage_fade 4s linear;
}

@-webkit-keyframes homepage_fade {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes homepage_fade {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header {
  background-color: #f9f9f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding-bottom: 35px;
}

@media all and (min-width: 764px) and (max-width: 1108px) {
  .header {
    width: 100%;
  }
}

@media all and (min-width: 1109px) {
  .header {
    width: 100%;
  }
}

.logo {
  -o-object-fit: contain;
     object-fit: contain;
  width: 270px;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  text-align: center;
}

@media all and (min-width: 356px) {
  .logo {
    width: 375px;
  }
}

@media all and (min-width: 764px) and (max-width: 1108px) {
  .logo {
    width: 100%;
    height: 100px;
  }
}

@media all and (min-width: 1109px) {
  .logo {
    width: 100%;
    height: 100px;
  }
}

.logo img {
  max-width: 55%;
}

.text {
  margin-left: 20px;
}

.gps {
  line-height: 50px;
  font-size: 16px;
  border: 1px solid transparent;
}

@media all and (min-width: 356px) {
  .gps {
    font-size: 20px;
  }
}

.header_bold {
  font-size: 22px;
}

@media all and (min-width: 356px) {
  .header_bold {
    font-size: 30px;
  }
}

.header_p {
  font-size: 16px;
}

@media all and (min-width: 356px) {
  .header_p {
    font-size: 20px;
  }
}

nav {
  width: 100%;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media all and (min-width: 764px) and (max-width: 1108px) {
  nav {
    width: 100%;
    height: 300px;
  }
}

@media all and (min-width: 1109px) {
  nav {
    width: 100%;
    height: 225px;
  }
}

@media all and (min-width: 764px) and (max-width: 1108px) {
  .nav_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    font-size: 30px;
  }
}

@media all and (min-width: 1109px) {
  .nav_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    font-size: 40px;
  }
}

.nav {
  list-style: none;
  counter-reset: circle-counter;
}

.nav_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 20px;
  font-weight: 800;
}

@media all and (min-width: 764px) and (max-width: 1108px) {
  .nav {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media all and (min-width: 1109px) {
  .nav {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.search_link {
  text-decoration: none;
  color: black;
}

.how_to_button {
  padding: 14px;
  border-radius: 20px;
  border: transparent;
  background-color: #f9f9f9;
  margin-top: 16px;
  margin-right: 50px;
  -webkit-box-shadow: 3px 3px 3px #c6c6c6;
          box-shadow: 3px 3px 3px #c6c6c6;
}

.how_to_button:hover {
  background-color: #e4d5f6;
  color: #9356dc;
}

@media all and (min-width: 356px) {
  .how_to_button {
    font-weight: 600;
    padding: 20px;
    width: 300px;
  }
}

@media all and (min-width: 764px) and (max-width: 1108px) {
  .how_to_button {
    margin-right: 50px;
  }
}

@media all and (min-width: 1109px) {
  .how_to_button {
    font-size: 16px;
    margin-right: 50px;
  }
}

.text_hover-black {
  color: black;
}

.nav-icon {
  margin-left: 20px;
  margin-right: 20px;
}

.nav_chose,
.nav_create,
.nav_go {
  counter-increment: circle-counter;
}

.nav_chose::before,
.nav_create::before,
.nav_go::before {
  content: counter(circle-counter);
  border: 1px solid #9356dc;
  background-color: #9356dc;
  color: #fff;
  border-radius: 50%;
  padding: 5px 8px;
  margin-left: -35px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-color: #3a3a3a;
  color: #fff;
}

.footer_list {
  list-style: none;
  line-height: 30px;
}

.footer_header {
  font-family: "Shrikhand", cursive;
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 40px;
  color: #fff;
  letter-spacing: 0.7px;
}

@media all and (min-width: 764px) and (max-width: 1108px) {
  .footer {
    font-size: 20px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media all and (min-width: 1109px) {
  .footer {
    font-size: 20px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media all and (min-width: 1280px) {
  .footer {
    font-size: 20px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media all and (min-width: 764px) and (max-width: 1108px) {
  .footer_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    font-size: 30px;
  }
}

@media all and (min-width: 1109px) {
  .footer_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    font-size: 30px;
  }
}

@media all and (min-width: 1280px) {
  .footer_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    font-size: 30px;
  }
}

@media all and (min-width: 764px) and (max-width: 1108px) {
  .footer_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-left: 0;
  }
}

@media all and (min-width: 1109px) {
  .footer_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-left: 0;
  }
}

@media all and (min-width: 1280px) {
  .footer_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-left: 0;
  }
}

.fa-utensils,
.fa-handshake-angle {
  margin-left: 0;
  margin-right: 20px;
}

.white {
  text-decoration: none;
  color: #fff;
}

.restaurants {
  background-color: #f9f9f9;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media all and (min-width: 764px) and (max-width: 1108px) {
  .restaurants {
    background-color: #f9f9f9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
}

@media all and (min-width: 1109px) {
  .restaurants {
    background-color: #f9f9f9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
}

.restaurants_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-left: 23%;
}

@media all and (min-width: 764px) and (max-width: 1108px) {
  .restaurants_header {
    font-size: 30px;
    margin-left: 3%;
  }
}

@media all and (min-width: 1109px) {
  .restaurants_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    font-size: 40px;
    margin-left: 2%;
  }
}

.restaurants_cards {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 5px 5px 5px #c6c6c6;
          box-shadow: 5px 5px 5px #c6c6c6;
  margin-left: 15px;
  margin-right: 15px;
  max-width: 340px;
  border-radius: 15px;
  margin-bottom: 20px;
  width: 73%;
}

.restaurants_cards_images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 15px 15px 0 0;
  max-height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media all and (min-width: 764px) and (max-width: 1108px) {
  .restaurants_cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .restaurants_cards_images {
    width: 100%;
    height: 100%;
  }
  .restaurants_cards_content {
    width: 100%;
  }
}

@media all and (min-width: 1109px) {
  .restaurants_cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 400px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .restaurants_cards_images {
    width: 100%;
    height: 100%;
  }
  .restaurants_cards_content {
    width: 100%;
  }
}

@media all and (min-width: 1280px) {
  .restaurants_cards {
    max-width: 22%;
  }
}

@media all and (min-width: 1500px) {
  .restaurants_cards {
    max-width: 20%;
  }
}

.restaurants_cards_content {
  -webkit-box-shadow: 5px 5px 5px #c6c6c6;
          box-shadow: 5px 5px 5px #c6c6c6;
  background-color: #fff;
  border-radius: 0 0 15px 15px;
  height: 35%;
  line-height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content_left {
  font-size: 11px;
  margin-left: 10px;
  margin-right: auto;
}

@media all and (min-width: 356px) {
  .content_left {
    font-size: 16px;
  }
}

.content_right {
  margin-top: 30px;
  margin-right: 30px;
}

.heart-empty::before {
  color: black;
  z-index: -1;
}

.heart-full::before {
  position: relative;
  left: 24px;
  z-index: 5;
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0;
  color: #ff79da;
}

.heart-full::before:hover {
  opacity: 1;
}

.menu-heart-empty::before {
  color: black;
  z-index: -1;
}

.menu-heart-full::before {
  position: relative;
  left: 16px;
  z-index: 5;
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0;
  color: #ff79da;
}

.menu-heart-full::before:hover {
  opacity: 1;
}

@media all and (min-width: 1280px) {
  .menu-heart-full::before {
    left: 30px;
  }
}

.fa-heart:hover::before {
  background: linear-gradient(195deg, #9356dc 30%, #ff79da 70%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent !important;
  opacity: 1;
}

.restaurants_cards_link {
  text-decoration: none;
  color: black;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 15px;
  border: 1px solid #99e2d0;
  border-radius: 3px;
  background-color: #99e2d0;
  color: #278870;
  padding: 1px 15px;
}

.menu_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.back {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media all and (min-width: 764px) and (max-width: 1108px) {
  .back {
    width: 95%;
    font-size: medium;
  }
}

@media all and (min-width: 1109px) {
  .back {
    width: 95%;
    font-size: large;
  }
}

@media all and (min-width: 1280px) {
  .back {
    width: 95%;
    font-size: x-large;
  }
}

.menu_images {
  text-align: center;
}

figure {
  margin: 0;
}

.menu_images img {
  width: 100%;
  height: 255px;
  position: relative;
  bottom: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0;
  -webkit-animation-name: appear;
          animation-name: appear;
  -webkit-animation-duration: .15s;
          animation-duration: .15s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

@media all and (min-width: 764px) and (max-width: 1108px) {
  .menu_images img {
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
    position: relative;
    bottom: 50px;
    text-align: center;
  }
}

@media all and (min-width: 1109px) {
  .menu_images img {
    height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
    position: relative;
    bottom: 50px;
    text-align: center;
  }
}

@media all and (min-width: 1280px) {
  .menu_images img {
    height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
    position: relative;
    bottom: 50px;
    text-align: center;
  }
}

@media all and (min-width: 764px) and (max-width: 1108px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media all and (min-width: 1109px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media all and (min-width: 1280px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
    height: 100%;
  }
}

.menu_sub {
  background-color: #f9f9f9;
  border-radius: 35px 35px 0 0;
  position: relative;
  padding-bottom: 5%;
}

@media all and (min-width: 764px) and (max-width: 1108px) {
  .menu_sub {
    background-color: #f9f9f9;
    border-radius: 35px 35px 0 0;
    position: relative;
  }
}

@media all and (min-width: 1109px) {
  .menu_sub {
    background-color: #f9f9f9;
    border-radius: 35px 35px 0 0;
    position: relative;
  }
}

@media all and (min-width: 1280px) {
  .menu_sub {
    background-color: #f9f9f9;
    border-radius: 35px 35px 0 0;
    position: relative;
    z-index: 0;
  }
}

.menu_sub_header {
  font-family: "Shrikhand", cursive;
  font-size: 16px;
  letter-spacing: 0.7px;
  margin-left: 3%;
  margin-top: -25%;
  padding-top: 20px;
  margin-bottom: 0;
  position: relative;
  opacity: 0;
  -webkit-animation-name: appear;
          animation-name: appear;
  -webkit-animation-duration: .20s;
          animation-duration: .20s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

@media all and (min-width: 356px) {
  .menu_sub_header {
    font-size: 1.5em;
    margin-top: -15%;
  }
}

@media all and (min-width: 764px) and (max-width: 1108px) {
  .menu_sub_header {
    margin-top: -8%;
  }
}

@media all and (min-width: 1109px) {
  .menu_sub_header {
    margin-top: -9%;
  }
}

@media all and (min-width: 1280px) {
  .menu_sub_header {
    font-size: 30px;
  }
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media all and (min-width: 356px) {
  .menu-heart-full::before {
    left: 24px;
  }
}

.menu_content_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  bottom: 20px;
  right: 25px;
}

@media all and (min-width: 356px) {
  .menu_content_right {
    bottom: 35px;
  }
}

.menu_dish {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  padding: 0px 20px 0 10px;
  border-radius: 10px;
  border: transparent;
  -webkit-box-shadow: 3px 3px 3px #c6c6c6;
          box-shadow: 3px 3px 3px #c6c6c6;
  background-color: #fff;
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu_dish:hover .checkmark {
  -webkit-transition: -webkit-transform;
  transition: -webkit-transform;
  transition: transform;
  transition: transform, -webkit-transform;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform-origin: right 50%;
          transform-origin: right 50%;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.menu_dish:hover .price {
  right: 15%;
}

.menu_dish:hover .fa-circle-check {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transform: rotate(1turn);
          transform: rotate(1turn);
}

.fa-circle-check {
  color: #fff;
  background-color: #99e2d0;
  font-size: 20px;
  position: relative;
}

.checkmark {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 87%;
  width: 15%;
  height: 100%;
  background-color: #99e2d0;
  border-radius: 0 10px 10px 0;
  -webkit-box-shadow: 3px 3px 3px #c6c6c6;
          box-shadow: 3px 3px 3px #c6c6c6;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

@media all and (min-width: 764px) and (max-width: 1108px) {
  .menu_course {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 45%;
  }
}

@media all and (min-width: 1109px) {
  .menu_course {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 30%;
  }
}

@media all and (min-width: 1280px) {
  .menu_course {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 30%;
  }
}

.menu_course-line {
  margin-left: 3%;
  text-transform: uppercase;
  font-weight: 300;
  padding-bottom: 12px;
  border-bottom: 2px solid #99e2d0;
  -o-border-image: linear-gradient(to right, #99e2d0 50%, transparent 50%) 100% 1;
     border-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #99e2d0), color-stop(50%, transparent)) 100% 1;
     border-image: linear-gradient(to right, #99e2d0 50%, transparent 50%) 100% 1;
}

.menu_course-line:hover {
  -o-border-image: linear-gradient(to right, #99e2d0 50%, #99e2d0 50%) 100% 1;
     border-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #99e2d0), color-stop(50%, #99e2d0)) 100% 1;
     border-image: linear-gradient(to right, #99e2d0 50%, #99e2d0 50%) 100% 1;
}

@media all and (min-width: 1280px) {
  .menu_course-line {
    font-size: 24px;
  }
}

.menu_dish p {
  overflow: hidden;
  white-space: nowrap;
  width: 75%;
  text-overflow: ellipsis;
}

.dish-1 {
  font-weight: 600;
  margin-bottom: -13px;
  height: 30px;
}

.price {
  font-weight: 600;
  position: absolute;
  right: 0;
  padding-right: 20px;
}
/*# sourceMappingURL=style.css.map */