.fade {
  position: relative;
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes fade {
  0% {
    left: -1600px;
  }
  100% {
    left: 0px;
  }
}

@keyframes fade {
  0% {
    left: -1600px;
  }
  100% {
    left: 0px;
  }
}

.fade-1 {
  position: relative;
  -webkit-animation-name: fade-1;
          animation-name: fade-1;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

@-webkit-keyframes fade-1 {
  0% {
    left: -1600px;
  }
  100% {
    left: 0px;
  }
}

@keyframes fade-1 {
  0% {
    left: -1600px;
  }
  100% {
    left: 0px;
  }
}

.fade-2 {
  position: relative;
  -webkit-animation-name: fade-2;
          animation-name: fade-2;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
}

@-webkit-keyframes fade-2 {
  0% {
    left: -1600px;
  }
  100% {
    left: 0px;
  }
}

@keyframes fade-2 {
  0% {
    left: -1600px;
  }
  100% {
    left: 0px;
  }
}

.explore_button {
  font-size: 14px;
  letter-spacing: 1.5px;
  border: transparent;
  padding: 15px 15px 15px 15px;
  border-radius: 50px;
  background: linear-gradient(175deg, #ff79da, #9356dc);
  color: #fff;
  -webkit-box-shadow: 3px 3px 3px #c6c6c6;
          box-shadow: 3px 3px 3px #c6c6c6;
  width: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: 10px;
}

.explore_button:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-box-shadow: 5px 5px 5px #c6c6c6;
          box-shadow: 5px 5px 5px #c6c6c6;
  background: linear-gradient(175deg, #ff8de0, #9e67e0);
}

.order_button {
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  letter-spacing: 1.5px;
  border: transparent;
  padding: 15px 15px 15px 15px;
  border-radius: 50px;
  background: linear-gradient(175deg, #ff79da, #9356dc);
  color: #fff;
  -webkit-box-shadow: 3px 3px 3px #c6c6c6;
          box-shadow: 3px 3px 3px #c6c6c6;
  width: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: 10px;
  margin-bottom: 50px;
  opacity: 0;
  position: relative;
  -webkit-animation-name: order;
          animation-name: order;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.order_button:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  -webkit-box-shadow: 10px 5px 5px #c6c6c6;
          box-shadow: 10px 5px 5px #c6c6c6;
  background: linear-gradient(175deg, #ff8de0, #9e67e0);
}

@-webkit-keyframes order {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes order {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  display: block;
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  height: 100%;
  overflow-x: hidden;
}

.header {
  width: 375px;
  height: 335px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #9356dc;
  background-color: #f9f9f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.logo {
  -o-object-fit: contain;
     object-fit: contain;
  width: 375px;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  text-align: center;
}

.logo img {
  max-width: 55%;
}

.text {
  margin-left: 20px;
}

.gps {
  line-height: 50px;
  font-size: 20px;
  border: 1px solid transparent;
}

.header_bold {
  font-size: 30px;
}

.header_p {
  font-size: 20px;
}

nav {
  width: 375px;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #ff79da;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav {
  list-style: none;
  counter-reset: circle-counter;
}

.nav_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 20px;
  font-weight: 800;
}

.search_link {
  text-decoration: none;
  color: black;
}

.how_to_button {
  font-weight: 600;
  width: 300px;
  padding: 20px;
  border-radius: 20px;
  border: transparent;
  background-color: #f9f9f9;
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.how_to_button:hover {
  background-color: #e4d5f6;
}

.fa-solid:hover::before {
  color: #9356dc;
}

.fa-lg {
  margin-left: 20px;
  margin-right: 20px;
}

.nav_chose,
.nav_create,
.nav_go {
  counter-increment: circle-counter;
}

.nav_chose::before,
.nav_create::before,
.nav_go::before {
  content: counter(circle-counter);
  border: 1px solid #9356dc;
  background-color: #9356dc;
  color: #fff;
  border-radius: 50%;
  padding: 5px 8px;
  margin-left: -35px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 375px;
  background-color: #3a3a3a;
  color: #fff;
}

.footer_list {
  list-style: none;
  line-height: 30px;
}

.footer_header {
  font-family: 'Shrikhand', cursive;
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 40px;
  color: #fff;
  letter-spacing: .7px;
}

.fa-utensils,
.fa-handshake-angle {
  margin-left: 0;
  margin-right: 20px;
}

.white {
  text-decoration: none;
  color: #fff;
}

.restaurants {
  background-color: #f9f9f9;
  border: 2px solid #99e2d0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 375px;
  height: 1185px;
  margin-left: auto;
  margin-right: auto;
}

.restaurants_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-bottom: -110px;
  margin-left: 5%;
}

.restaurants_cards {
  border: 2px solid #9356dc;
  margin-left: 15px;
  margin-right: 15px;
  max-width: 350px;
  max-height: 249px;
  border-radius: 15px;
  margin-bottom: 20px;
}

.restaurants_cards_images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 65%;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurants_cards_content {
  border: 2px solid #ff79da;
  background-color: #fff;
  border-radius: 0 0 15px 15px;
  height: 35%;
  line-height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content_left {
  margin-left: 10px;
  margin-right: auto;
}

.content_right {
  margin-top: 30px;
  margin-right: 30px;
}

.heart_empty {
  background-color: transparent;
  border: transparent;
  opacity: 1;
}

.heart_empty:hover {
  opacity: 0;
}

.heart_solid {
  position: relative;
  left: 38px;
  opacity: 0;
  background-color: transparent;
  border: transparent;
  color: #ff79da;
  -webkit-transition: 1s;
  transition: 1s;
}

.heart_solid:hover {
  opacity: 1;
}

.fa-regular::before {
  color: black;
}

.fa-heart::before {
  font-size: 22px;
}

.fa-heart:hover::before {
  background: linear-gradient(195deg, #9356dc 30%, #ff79da 70%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent !important;
  opacity: 1;
}

.restaurants_cards_link {
  text-decoration: none;
}

.image_container {
  position: relative;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 15px;
  border: 1px solid #99e2d0;
  border-radius: 3px;
  background-color: #99e2d0;
  color: #278870;
  padding: 1px 15px;
}

.menu_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.back {
  width: 375px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: x-large;
}

.menu_images img {
  width: 100%;
  position: relative;
  opacity: 0;
  -webkit-animation-name: appear;
          animation-name: appear;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.menu {
  border: 2px solid #c6c6c6;
  background-color: #f9f9f9;
  width: 375px;
  height: 1197px;
  margin-left: auto;
  margin-right: auto;
}

.menu_sub {
  background-color: #f9f9f9;
  border: 2px solid #c6c6c6;
  border-radius: 35px 35px 0 0;
  position: relative;
  bottom: 55px;
}

.menu_sub_header {
  font-family: 'Shrikhand', cursive;
  letter-spacing: .7px;
  margin-left: 3%;
  position: relative;
  opacity: 0;
  -webkit-animation-name: appear;
          animation-name: appear;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.menu_heart {
  left: 34px;
}

.menu_content_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  bottom: 35px;
  right: 25px;
}

.menu_dish {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  padding: 0px 20px 0 10px;
  border-radius: 10px;
  border: transparent;
  background-color: #fff;
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 0;
}

.menu_dish:hover .checkmark {
  -webkit-transition: -webkit-transform;
  transition: -webkit-transform;
  transition: transform;
  transition: transform, -webkit-transform;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  -webkit-transform-origin: right 50%;
          transform-origin: right 50%;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.menu_dish:hover .price {
  position: relative;
  right: 40px;
}

.menu_dish:hover .fa-circle-check {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transform: rotate(1turn);
          transform: rotate(1turn);
}

.fa-circle-check {
  color: #fff;
  background-color: #99e2d0;
  font-size: 20px;
  position: relative;
}

.checkmark {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 87%;
  width: 15%;
  height: 100%;
  background-color: #99e2d0;
  border-radius: 0 10px 10px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.menu_course {
  margin-left: 3%;
  text-transform: uppercase;
  font-weight: 300;
}

.dish-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  margin-bottom: 10px;
}

.dish-1-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 13px;
}

.price {
  font-weight: 600;
  position: relative;
}

@media all and (min-width: 764px) and (max-width: 1143px) {
  .logo {
    width: 100%;
    height: 100px;
  }
  .header {
    width: 100%;
  }
  nav {
    width: 100%;
    height: 300px;
  }
  .nav {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    font-size: 30px;
  }
  .how_to_button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    margin-right: 50px;
  }
  .restaurants_header {
    font-size: 30px;
  }
  .heart_solid {
    left: 50px;
  }
  .restaurants {
    background-color: #f9f9f9;
    border: 2px solid aqua;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
    height: 925px;
  }
  .restaurants_cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .restaurants_cards_images {
    width: 100%;
    height: 100%;
  }
  .restaurants_cards_content {
    width: 100%;
  }
  #img_fix {
    width: 346px;
  }
  .back {
    width: 100%;
  }
  .fa-heart::before {
    font-size: 34px;
  }
  .menu {
    width: 100%;
    height: 100%;
  }
  .menu_heart {
    left: 46px;
  }
  .menu_sub_header {
    font-size: 34px;
  }
  .menu_dish {
    line-height: 1;
    font-size: 24px;
  }
  .menu_dish:hover .price {
    right: 150px;
  }
  .fa-circle-check {
    font-size: 40px;
  }
  .dish-1-desc {
    font-size: 20px;
  }
  .price {
    font-size: 24px;
  }
  .order_button {
    font-size: 24px;
  }
  .footer {
    width: 100%;
    font-size: 24px;
  }
  .footer_header {
    font-size: 28px;
  }
}

@media all and (min-width: 1144px) {
  .header {
    width: 100%;
  }
  .logo {
    width: 100%;
    height: 100px;
  }
  nav {
    width: 100%;
    height: 350px;
  }
  .nav {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    font-size: 40px;
  }
  .how_to_button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 400px;
    font-size: 20px;
    margin-right: 50px;
  }
  .restaurants_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    font-size: 40px;
    margin-left: 5%;
  }
  .restaurants {
    background-color: #f9f9f9;
    border: 2px solid aqua;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
    height: 1005px;
  }
  .restaurants_cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 540px;
    max-height: 270px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .restaurants_cards_images {
    width: 100%;
    height: 100%;
  }
  .restaurants_cards_content {
    width: 100%;
  }
  .restaurants_cards_images {
    width: 536px;
  }
  .content_left {
    font-size: 20px;
  }
  .fa-heart::before {
    font-size: 30px;
  }
  .heart_solid {
    left: 56px;
  }
  .back {
    width: 100%;
  }
  .menu {
    width: 100%;
    height: 100%;
  }
  .menu_sub_header {
    font-size: 48px;
  }
  .menu_heart {
    left: 52px;
  }
  .fa-heart::before {
    font-size: 40px;
  }
  .menu_course {
    font-size: 30px;
  }
  .menu_dish {
    line-height: 1;
    font-size: 30px;
  }
  .menu_dish:hover .price {
    right: 230px;
  }
  .dish-1-desc {
    font-size: 28px;
  }
  .price {
    font-size: 28px;
  }
  .fa-circle-check {
    font-size: 40px;
  }
  .order_button {
    font-size: 32px;
  }
  .footer {
    width: 100%;
    font-size: 28px;
  }
  .footer_header {
    font-size: 30px;
  }
}
/*# sourceMappingURL=style.css.map */